* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
  height: 100%;
  background: #F1F3F1;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./calendar-assets/fonts/MyriadPro-LightSemiExt.ttf") format('truetype');
}

body {
  background: #F8F9F7;
  font-family: Myriad Pro;
  height: 100%;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
  background-image:
      linear-gradient(to left, #C9CAC9, #F8F9F7),
      linear-gradient(to right, #C9CAC9, #F8F9F7)
  ;
  background-size:6px 100%;
  background-position:0 0, 100% 0;
  background-repeat:no-repeat;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*Styling for Header*/

.header-area {
  padding: 38px 38px 0 38px;
  margin-bottom: 30px;
}

.calendar-icon {
  float: left;
  width: 55px;
  margin-right: 20px;
  top: -9px;
}

.header-area h1 {
  font-size: 38px;
  font-weight: bolder;
  color: #333;
  margin-bottom: 5px;
}

.header-area span {
  text-decoration: line-through;
}

h3 {
  font-size: 19px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.2);;
}

/*Styling for left side*/



.left-side {
  float: left;
  width: 252px;
  text-align: center;
  margin-top: 31px;
  margin-left: 75px;
}

h4 {
  font-size: 17px;
  font-weight: normal;
  padding: 8px;
  position: relative;
}

p {
  left: 20px;
  font-size: 14px;
  color: #A7A8A7;
  position: relative;
}

.left-article {
  margin-bottom: 40px;
  position: relative;
}

.left-article h4 {
  padding-left: 0px;
  padding-right: 0px;
  left: 20px;
  margin: 0 auto;
  z-index: 20;
  background: #F8F9F7;
}

.left-side img {
  height: 10px;
  width: 10px;
  display: inline-block;
}

/*Styling for lines that come from left to center*/

.first h4 {
  width: 200px;
}

.second h4 {
  width: 206px;
}

.third h4 {
  width: 148px;
}

.dotted-line {
  left: 77px;
  top: 14px;
  overflow: hidden;
  height: 15px;
  width: 300px;
  position: absolute;
}


@-webkit-keyframes lineout {
  from { width: 100%; }
  to { width: 0%; }
}

.blocking {
  float: right;
  background: #F8F9F7;
  height: 100%;
  width: 170px;
  top: 0px;
  right: 0px;
  z-index: 5;
  position: absolute;

  -webkit-animation: lineout 1.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;

}


@keyframes dotup {
  from { z-index: 0; }
  to { z-index: 10; }
}

.dotted-line img {
  display: inline-block;
  width: 157px;
  height: 7px;
  margin: auto 0;
  position: relative;
  float: right;
  z-index: 0;

  -webkit-animation: dotup 0s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 3.2s;
}

/*Styling for element that transitions from right to center*/

@keyframes fadein {
  from { opacity: 0;
         height: 202px;
         width: 100px;
         top: 125px;
         left: 654px;
       }
  to {  opacity: 1;
        height: 400px;
        width: 200px;
        left: 71px;
        top: 20px;
    }
}

.center {
  position: absolute;
  margin: 0 auto;
  left: 361px;
  top: 120px;
}

.center img {
  position: absolute;
  z-index: 5;
  opacity: 0;

  -webkit-animation: fadein 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode:forwards;

}

/*Styling for right side*/

.right-side {
  float: right;
  position: relative;
  right: 7px;
  top: -30px;
  overflow: hidden;
}

.right-side img {
  position: relative;
  left: 142px;
  height: 501px;
  width: 467px;
}
